.im_chat_block{background: rgba(0, 0, 0, 0.75);position:fixed;top:70px;right:1%;border-radius:5px;padding:5px 8px 8px;width:210px;z-index: 100;}
.im_chathead{color:#fff;font-size:13px;font-weight:bold;padding:3px 5px 7px;}
.im_chathead2{color:#fff;font-size:13px;font-weight:bold;padding:3px 5px 7px;}
.im_chatclose{background: rgb(105, 105, 105);border-radius:3px;cursor:pointer;padding:4px;margin:4px 2px;}
.im_chatclose div{display: block;
background: url(http://vk.com/images/icons/rbox_full2.png?3) no-repeat scroll 0 0 transparent;
opacity: 0.6;
filter: alpha(opacity=60);
width: 7px;
height: 7px;}
.im_chatbody{ background:#fff;border-radius:4px;height:350px;overflow-x:hidden;overflow-y:auto;  box-shadow: 0 0 2px #777777 inset;}
.im_chatbody2{ background:#fff;border-radius:4px;height:350px;overflow-x:hidden;overflow-y:auto;  box-shadow: 0 0 2px #777777 inset;}
.im_chatserch{display:none; background:#fff;border-radius:4px;height:350px;overflow-x:hidden;overflow-y:auto;  box-shadow: 0 0 2px #777777 inset;}
.im_chatuser{color:#506B8C;margin:0;padding:4px 8px;}
.im_chatuser:hover{background:#E5EDF5;}
.im_chatuser img{border-radius:3px;float:left;margin-right:10px;width:32px;}
.im_chats{background: rgba(0, 0, 0, 0.75);border-radius:5px 5px 5px 5px;height:344px;z-index:100;padding:0 8px 0px;position:fixed;left:30%;bottom:0;width:241px;}
.im_chatname{color:#fff;font-size:12px;font-weight:bold;padding:7px 3px 9px;}
.im_chats .im_scroll{background:#fff;border-radius:3px; margin-top: 0;height:250px;overflow-x:hidden;overflow-y:auto;padding:10px 3px;}
.im_chats .im_scroll .im_msg{ min-height: 38px;}
.im_chatmail{border-top: 1px solid rgba(221,221,221,0.5);padding-bottom:5px;padding-top:5px;width:219px;}
.im_chatMail_Ava{float:left;width:40px;}
.im_chatMail_text{float:left;overflow:hidden;width:178px;}
.im_chatform{background:#fff;border-radius:3px;box-shadow:0 1px 3px 0 #D2D2D2 inset;margin-top:5px;padding:3px 5px;}
.im_chatformava{color:#999;float:left;height:32px;margin-right:5px;width:32px;}
.im_chatforntext{background:#fff;border:1px solid;height:27px;padding:2px;resize:none;width:237px;border-radius: 3px 3px 3px 3px;}
.im_chatSearch{background:#fff;border-radius:3px;height:20px;}
.im_chatSearch {
    background: url("../images/magglass.png") no-repeat scroll 8px 7px #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #777777 inset;
    cursor: text;
    margin: 0px 0 8px;
    overflow: hidden;
    padding: 6px 4px 0 22px;
}
.im_chatsearchtext{  border: 0 none;
    height: 14px;
    line-height: 1.27em;
    outline: 0 none;
    padding: 0;
    width: 100%;}
	
.input_back_wrap {
    cursor: text;
    position: relative;
    z-index: 90;
}
.fc_clist_online {
    background: url("../images/icons/rbox_full2.png?3") no-repeat scroll 4px -67px transparent;
    cursor: pointer;
    height: 7px;
    margin: 6px 0 0 -20px;
    opacity: 0.6;
    padding: 4px;
    position: absolute;
    width: 7px;
}.fc_clist_online_active {
    filter: none;
    opacity: 1;
}
.fc_clist_online_wrap {
    position: relative;
}